.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    .bg-color{
        background-color:#DEF3F4 ;
        position: fixed;
        top:0;
        right:0;
        left:0;
        bottom: 0;
    }
}