 .login-form {
     max-width: 300px;
 }

 .login-form-forgot {
     float: right;
 }

 .login-form-button {
     width: 100%;
 }

 .title {
     height: 30px;
     color: #D3D7F7;
     font-size: 16px;
     float: left;
 }
 .register-link-box{
     display: flex;
     justify-content: space-between;
     line-height: 40px;
     .link{
         color:#1890ff;
     }
 }